NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_NEXT_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

NODE_ENV=development

NUXT_PUBLIC_JWT_SECRET=
NEXTAUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXT_PUBLIC_GA_ID=
