/* globals.css */

:root {
  --color-primary: #d1a00a;
  --color-secondary: #545454;
  --color-bg: #f9f9f9;
  --color-text: #333;
  --color-bg2: #332100fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--color-primary);
}

/* Containers */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
